<div>
    <button (click)="resetTabla()">Reiniciar Juego</button>
</div>
<div>
<h2>Intentos: {{ attempts }}</h2>
</div>
<div>
    <label for="filas">Filas</label>
    <input type="number" id="filas" [(ngModel)]="filas">
    <label for="columnas">Columns</label>
    <input type="number" id="columnas" [(ngModel)]="columnas">
    <button (click)="pintarTabla($event)" Pintar imagenes>Comenzar</button>
</div>

<div *ngIf="pintarTabla">
    <table>
<tr *ngFor="let fila of filasArray; let i = index">
<td *ngFor="let columnas of columnasArray; let j = index">
<img [src]="imageSrc[i][j]" (click)="voltearImagen(i,j)"/>
</td>
</tr>
    </table>
</div>


 

 
  

      

 